/docker/.env
/docker/_data
/docker/_logs
/docker/nginx/ssl/*.crt
/docker/nginx/ssl/*.key
/docker/nginx/ssl/*.csr
/node_modules
/public/hot
/public/storage
public/js/
public/css
public/img
public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
